{% extends "base.html" %}

{% block content %}

<div class="container-fluid" >
  <div class="row mt-4 justify-content-center">
          <div class="col-9">
                  <div class="card">
                          <div class="card-header">
                              <h2 class="text-primary text-center">Videoteca</h2>
                          </div>
                          <div class="card-body">

                            <h2>¿Quienes somos?</h2>
	<h4>Videoteca es una empresa dedicada a la Compra de videojuegos los cuales son para las diferentes consolas que se encuentran hoy en dia</h4>
	<br>
  <br>
	
	<h2>Nuestra ubicación</h2>
	<h4>Estamos ubicados en el centro de la ciudad en la calle Principal #123.</h4>
	<br>
  <br>
	<h2>Contáctanos</h2>
	<h4>Puedes comunicarte con nosotros por teléfono al 555-123-4567 o por correo electrónico a info@videoteca.com</h4>

</div>
</div>
</div>       
</div>
</div>
{% endblock %}